{% extends 'starter-page.html' %}
{% load static %}
{% block body %}
    <!-- Pricing Section -->
<section id="pricing" class="pricing section light-background">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Pricing</h2>
    <p>Choose the perfect plan for your pet’s needs and enjoy exclusive services to keep them happy and healthy!</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      <!-- Free Plan -->
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="pricing-item">
          <h3>Basic Plan</h3>
          <h4><sup>$</sup>0<span> / month</span></h4>
          <ul>
            <li>Pet Care Tips</li>
            <li>Appointment Booking</li>
            <li>Access to General Resources</li>
            <li class="na">Pet Training Resources</li>
            <li class="na">Emergency Services</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Get Started</a>
          </div>
        </div>
      </div><!-- End Pricing Item -->

      <!-- Business Plan (Recommended) -->
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="pricing-item recommended">
          <span class="recommended-badge">Recommended</span>
          <h3>Premium Plan</h3>
          <h4><sup>$</sup>19<span> / month</span></h4>
          <ul>
            <li>Pet Care Tips</li>
            <li>Appointment Booking</li>
            <li>Pet Training Resources</li>
            <li>24/7 Customer Support</li>
            <li class="na">Emergency Services</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Sign Up</a>
          </div>
        </div>
      </div><!-- End Pricing Item -->

      <!-- Developer Plan -->
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="pricing-item">
          <h3>Enterprise Plan</h3>
          <h4><sup>$</sup>49<span> / month</span></h4>
          <ul>
            <li>Pet Care Tips</li>
            <li>Appointment Booking</li>
            <li>Pet Training Resources</li>
            <li>Emergency Services</li>
            <li>Dedicated Support</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Get Started</a>
          </div>
        </div>
      </div><!-- End Pricing Item -->

    </div>

  </div>

</section><!-- /Pricing Section -->


{% endblock %}